/*
 * Meta Boxes
 */

 .form-table td p {
	margin-top: 8px;
}

/* Repeater */

.repeater {
	width: 100%;
	max-width: 100%;
	background: white;
	padding: 6px;
	border: 1px solid #eee;
}

.repeater td {
	width: 100%;
	padding: 6px 4px;
}

.repeater input {
	width: 100%;
}